# GLOBAL
SOURCE_PATH=
OUTPUT_PATH=

LOG_PATH="build.log"

BUILD_PATH="build"
BUILD_MODE=

# EXCLUDE
EXCLUDE_DIRECTORIES=".git, .idea, .venv, build, docs, __pycache__"
EXCLUDE_FILES="ui, pro, ts"

# INCLUDE
INCLUDE_DIRECTORIES=
INCLUDE_FILES="png, svg, gif, bmp, jpg, jpge, mod, json, js, qm, mel, lang, mll, html"

# MAYA
MAYA_VERSION="2017, 2018, 2019, 2020, 2022, 2023, 2024, 2025"
MAYA_LOCATION=

# 3DSMAX
MAX_VERSION="2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025"
MAX_LOCATION=

# SUBSTANCE PAINTER
SUBSTANCE_PAINTER_VERSION=
SUBSTANCE_PAINTER_LOCATION=

# SUBSTANCE DESIGNER
SUBSTANCE_DESIGNER_VERSION=
SUBSTANCE_DESIGNER_LOCATION=