# GLOBAL
SOURCE_PATH="app"
OUTPUT_PATH=

LOG_PATH="build.log"

BUILD_PATH="build"
BUILD_MODE=

# DEVELOPMENT RUN
MAYA_VERSION=
MAX_VERSION=
SUBSTANCE_PAINTER_VERSION=
SUBSTANCE_DESIGNER_VERSION=

# EXCLUDE
EXCLUDE_DIRECTORIES=".git, .idea, .venv, build, docs, __pycache__"
EXCLUDE_FILES="ui, pro, ts"

# INCLUDE
INCLUDE_DIRECTORIES=
INCLUDE_FILES="png, svg, gif, bmp, jpg, jpge, tga, mod, json, js, qm, mel, lang, mll, html"

# MAYA
MAYA_LOCATION=
MAYA_VERSIONS="2017, 2018, 2019, 2020, 2022, 2023, 2024, 2025"

# 3DSMAX
MAX_LOCATION=
MAX_VERSIONS="2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025"

# SUBSTANCE PAINTER
SUBSTANCE_PAINTER_LOCATION=
SUBSTANCE_PAINTER_VERSIONS=

# SUBSTANCE DESIGNER
SUBSTANCE_DESIGNER_LOCATION=
SUBSTANCE_DESIGNER_VERSIONS=
